.main-container {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    margin-top: 100px;
    width: auto;
    height: auto;
    background:#fafafa;
    padding-bottom: 30px;
    border-radius: 30px;
}
  
.custom-image {
    width: 40px; 
    height: 40px;
    height: auto;
    width: auto;
    margin-top: 10px;
    margin-left: 1px;
}

.custom-image-room {
  display: flex;
  width: 90px;
  height: 90px;
  height: auto;
  margin-top: 2px;
  margin-left: 2px;  
  border-radius: 100px;
}

.stars-container {
    display: flex;
    align-items: center;
}
  
.stars-container .fas {
    color: gold;
}
  
.right-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
  
.room-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    height: 100px;
    background:#cecbcb;
    margin-bottom: 1%;
    border-radius: 20px;
    margin-right:  5%;
}

.margin-left-better {
    margin-left: 1%;
}

.hotel_page_input2{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  /* grid:25px; */
  }

  .hotel_page_input2{
    /* display: flex; */
    align-items:right;
    /* margin: right; */
    margin-top: 20px;
    /* margin-right: 110px; */
    margin-left: 25%;
    width: 55%;
    height: auto;
    background: #febbf7;
    border-radius: 10px;
}

.hotel_page_input2 img{
    margin: 0px 30px;
    height: 40px;
    width: 40px;
}

.hotel_page_input2 input{
    height: 20px;
    width: 250;
    background:transparent;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.right-aligned {
  text-align: right;
  margin-right: 15px;
  margin-top: 5px;
  font-size: medium;
}

.hotel_page_input3 {
  display: flex;
  flex-direction: column;
}

.room-info {
  display: flex;
  align-items: center;
}

.star-rating {
  margin-right: 10px;
}

.room-details {
  font-size: 15px;
  text-align: right;
}

.room-detail {
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: right;
}

.order-button {
  background-color: #3c009d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.order-button:hover {
  background-color: #2a0074;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensure the container takes full width */
  margin-top: 10px; /* Add some spacing above the button */
}

.reyhane{
  width: 30px;
  height: 30px;
}

.reserve-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve-popup-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden; /* Hide any overflowing content */

}

.reserve-popup-content-scrollable {
  max-height: calc(80vh - 100px); /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  padding-right: 10px; /* Add padding to avoid scrollbar overlap */
}


.close-button {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  align-items: center;
  display: flex;
}

/* Reyhane */

.reyhane-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background:#8bece7;
  padding-bottom: 1px;
  padding-top: 1px;
  border-radius: 20px;
}
.reyhane-header{
  text-align: center;
  color: rgb(82, 23, 11);
}
.reyhane-room-container{
  display: center;
  width: 500px;
  background:#00504b;
  padding-bottom: 30px;
  border-radius: 10px;
  height: 120px;
  text-align: center;
  align-items: center;
  font-size: 20px;
}
.reyhane-information-header{
  text-align: center;
  color: rgb(82, 23, 11);
  font-size: 20px;
}
.reyhane-information-tail{
  /* position: relative; */

  margin-left: 50px;
}
.reyhane-information{
  display: flex;
  flex-direction: column;
  width: 700px;
  background:#febbf7;
  padding-bottom: 30px;
  border-radius: 30px;
  height: 300px;
  margin-left: 50px;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}
.reyhane-guest-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  object-position: right;
}

.reyhane-guest-row label {
  margin-right: 10px;
      
}

.reyhane-guest-row input {
  margin-right: 5px;
  margin-left: 5px;
  width: 100px;
  text-align: right;
  
}

.reyhane-error {
  color: red;
  font-size: 0.1em;
}
.button {
  display: block;
  margin: 90px auto 20px auto;
  padding: 10px 20px;
  font-size: 16px;
}

@media ((min-width: 720px) and (max-width: 1024px)) {
  .room-details {
    font-size: 13px;
    text-align: right;
  }

  .custom-image-room {
    display: flex;
    width: 80px;
    height: 80px;
    height: auto;
    margin-top: 5px;
    margin-left: 2px;  
    border-radius: 100px;
  }
  
  .reyhane-information-header {
    font-size: 12px;
  }
  .reyhane-room-container {
    display: center;
    width: 500px;
    background:#00504b;
    padding-bottom: 30px;
    border-radius: 10px;
    height: 120px;
    text-align: center;
    align-items: center;
    font-size: 20px;
  }

  .reyhane-guest-row {
    font-size: 15px;
  }

  .reyhane-guest-row input {
    width: 70px;
    font-size: 15px;
  }

  .button {
    font-size: 15px;
    padding: 4px 8px;
  }
}

@media ((min-width: 420px) and (max-width: 719px)) {
  .room-details {
    font-size: 12px;
    text-align: right;
  }

  .custom-image-room {
    display: flex;
    width: 85px;
    height: 85px;
    height: auto;
    margin-top: 2px;
    margin-left: 2px;  
    border-radius: 100px;
  }

  .reyhane-information-header {
    font-size: 12px;
  }
  .reyhane-room-container {
    display: center;
    width: 500px;
    background:#00504b;
    padding-bottom: 30px;
    border-radius: 10px;
    height: 120px;
    text-align: center;
    align-items: center;
    font-size: 20px;
  }

  .reyhane-guest-row {
    font-size: 10px;
  }

  .reyhane-guest-row input {
    width: 70px;
    font-size: 10px;
  }

  .button {
    font-size: 10px;
    padding: 4px 8px;
  }
}
