.search-bar {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-bottom: 0px;
    margin-top: -20px; 
}

  .search-bar input {
    width: 400px; /* Set width */
    height: 40px; /* Set height */
    font-size: 18px; /* Adjust font size */
    padding: 0px; /* Add padding */
    border-radius: 9px; /* Add border radius */
    border: 1px solid #ccc; /* Add border */
    background-color: black;
    color: rgb(255, 255, 255); /* Change to the desired text color */
  }
  
  .search-bar button {
    height: 42px; /* Set height */
    font-size: 18px; /* Adjust font size */
    padding: 8px 8px; /* Add padding */
    border: none; /* Remove border */
    background-color: #3c009d; /* Add background color */
    color: #fff; /* Add text color */
    border: 1px solid #ccc; /* Add border */
    border-radius: 10px; /* Add border radius */
    cursor: pointer; /* Add cursor pointer */
    border: 1px solid #ccc; /* Add border */
  }
  
  .search-bar button:hover {
    background-color: #0056b3; /* Change background color on hover */
  }
